/sehoaoi_2021_64x64/
/sehoaoi_labeled/
/siemens_amberg_labeled/
/siemensamberg_2022_64x64/
/result.xlsx
/sehoaoi_2021_64x64.zip
/siemensamberg_2022_64x64.zip

/testdf/
/traindf/
/valdf/
/save_dataframe/
/myenv/
/.ipynb_checkpoints/
/myenv/
